.base {
    padding: clamp(0.5rem, 5vw, 2rem);
    --padding-leftright: clamp(0.5rem, 15vw, 20rem);
    padding-left: var(--padding-leftright);
    padding-right: var(--padding-leftright);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}
h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
}
h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}
h5 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 1rem;
}

/*

Lists, unordered and ordered hehe.

*/

ul, ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
    line-height: 1.6;
 }
 
 ul {
    list-style: disc;
 }
 
 ol {
    list-style: decimal;
 }
 
 li {
    padding: 0.25rem 0;
 }
 
 /* Nested lists */
 ul ul, ol ol {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
 }

/*

some markdown type shit. we got to set it as light and dark stuff

*/

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p {
  color: var(--text-light);
}

@media (prefers-color-scheme: dark) {
  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6,
  .markdown p {
    color: var(--text-dark);
  }
}