.TextPage {
  padding: clamp(0.5rem, 5vw, 2rem);
  --padding-leftright: clamp(0.5rem, 15vw, 20rem);
  padding-left: var(--padding-leftright);
  padding-right: var(--padding-leftright);
  display: flex;
}

.title {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 600;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: clamp(1.2rem, 3vw, 2rem);
  font-weight: 500;
  margin-bottom: 1rem;
}

.textBody {
  font-size: clamp(1rem, 1vw, 1.5rem);
  line-height: 1.5;
  margin-bottom: 2rem;
}
